@font-face {
    font-family: "Raleway";
    src: url("font/Raleway-Regular.ttf");
}
@font-face {
    font-family: "Lato";
    src: url("font/Lato-Regular.ttf");
}
@font-face {
    font-family: "Montserrat";
    src: url("font/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Muli";
    src: url("font/Muli-Regular.ttf");
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #81B29A;
    color: #30343f;
}
h1 {
    color: #3D405B;
    margin-bottom: 20px;
    margin-top: 10px;
}
h2{
    color: #E07A5F;
}
h3{
    font-size: 1em;
}
.container {
    font-family: 'Muli', sans-serif;
    margin-bottom: 10px;
}
/* nav{
    background-color: #81B29A;
}
.navbar {
    margin: 10px 0px 50px 20px;
    position: relative;
}
.navbar-brand {
    margin-top: -4px;
} */
p {
    font-size: 1.1em;
    margin-top: 15px;
}
#footer {
    margin-top: 50px;
    color: #3D405B;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #81B29A;
}
strong {
    color: #E07A5F;
}
#linkedin {
    height: 40px;
    position: absolute;
    right: 10px;
}
#gmail {
    height: 40px;
    position: absolute;
    right: 60px;
}
.justify {
    display: flex;
    justify-content: space-between;
}
.logo {
    float: left;
    width: 45px;
    margin-right: 5px;
}
.container {
    background-color: #FAF9F0;
    border-radius: 10px;
}
a {
    color: #3D405B;
}
a:hover {
    color: #E07A5F;
}